/* 
    GLOBAL STYLES
*/
* {
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: monospace;
   background-color: #f7f7f7;
   color: #333333;
}

form {
   padding: 40px 20px;
   max-width: 400px;
   width: 100%;
   margin: auto;
   background-color: rgba(0, 0, 0, 0.03);
}

fieldset {
   display: flex;
   gap: 20px;
   padding: 15px;
   padding-top: 10px;
   border-radius: 5px;
   border: 1px solid black;
}

fieldset.transCat > div {
   display: flex;
   align-items: center;
   gap: 5px;
}

fieldset.transCat > div > * {
   cursor: pointer;
}

.formGroup {
   width: 100%;
   margin-top: 5px;
   margin-bottom: 20px;
}

.formGroup > input,
.formGroup > select {
   width: 100%;
   padding: 16px 20px;
   font-size: 1em;
   width: 100%;
   outline: none;
   border: 1px solid #ccc;
   border-radius: 5px;
   background: #f7f7f7;
}

.formGroup > select:required:invalid {
   color: #828282 !important;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   cursor: pointer;
   margin: 10px 10px 10px 0px;
   outline: none;
   border: 1px solid #333333;
   font-weight: 500;
   font-size: 16px;
   background: #f7f7f7;
   border-radius: 5px;
   /* box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(0, 0, 0, 0.1); */
   transition: transform 0.1s ease-in-out;
}

.btn:hover {
   transform: scale(1.03);
}

.btn:active {
   transform: scale(0.95);
}

/* 
    HEADER STYLES
*/

.app__header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #f7f7f7;
   position: sticky;
   top: 0;
   box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.03);
}

.logoutBtn {
   margin: initial;
   padding: 10px;
   font-size: 12px;
}

/* 
    BODY STYLES
*/
.app__body {
   padding: 20px 30px;
}

.app__transForm {
   display: none;
}

/* SIGNUP FORM */
.app__signupForm {
   /* display: none; */
}

.app__signupForm fieldset {
   flex-direction: column;
   gap: 0px;
}

.app__signupForm legend {
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   margin-bottom: 15px;
}

/* 
    R E C E I P T   S T Y L E S
*/
.app__receipt {
   display: none;
   color: black !important;
   font-weight: 900 !important;
}

.app__receipt--header {
   text-align: center;
}

.app__receipt--addr {
   font-size: 5px;
}

.app__receipt--title {
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px dotted black;
}

.app__receipt--body {
   border-bottom: 1px dotted black;
   padding-top: 5px;
   padding-bottom: 5px;
   display: flex;
   flex-direction: column;
   gap: 1px;
}

.app__receipt--footer {
   padding-top: 5px;
   display: flex;
   gap: 5px;
}

.app__receipt--footer > div {
   flex: 1;
   text-align: center;
}

.app__receipt--footer > div > h6:first-child {
   padding-bottom: 20px;
   margin-bottom: 2px;
   border-bottom: 1px solid black;
}

.app__receipt--actionBtns {
   margin-top: 20px;
}

/* 
    PRINT STYLES
*/
@media only print {
   body {
      visibility: hidden;
   }

   .app__receipt {
      visibility: visible;
   }

   .app__receipt--actionBtns {
      visibility: hidden;
   }
}

/* 
    Receipt ID -- Current Date + Today's Transaction Count
    Trans Date
    - Student's Name
    - Class
    - Amount Paid
    - Purpose of Payment (Allow multiple choice)
    - Mode of Payment*
    - Depositor's Name
    Depositor's Signature
    Parent's Phone No
    Bursar's Name (Cashier)
    Bursar's Signature
*/
